<h3> 1. ﻿naver finance에서 코스피 200의 리스트를 받아라</h3>

In [1]:
from bs4 import BeautifulSoup
import requests as rq
from datetime import datetime                # 객체를 date 타입으로 만들어줄 모듈
import pandas as pd
# import selenium
# from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
# from selenium.webdriver.common.by import By
import time
import urllib
import re
import html5lib
import lxml

In [2]:
jongmoks = [] #코스피200의 종목이름
codes = [] #코스피200의 종목코드
for page in range(1,21):
    url = f'https://finance.naver.com/sise/entryJongmok.nhn?&page={page}'
    html = rq.get(url)
    soup = BeautifulSoup(html.content, 'html.parser')
    items = soup.find_all('td', {'class': 'ctg'})
    for item in items:
        #print(item)
        txt = item.a.get('href') 
        k = re.search('[\d]+', txt) ##정규표현식 사용. [\d] 숫자표현, + : 반복
        if k:
            code = k.group()
            codes.append(code)
            name = item.text
            jongmoks.append(name)
data = dict(zip(codes, jongmoks)) #코드와 종목이름 결합한 딕셔너리

<h3> 2. 2022년 코스피 200의 1월 ~3월까지의 주가를 모두 받아라﻿ </h3>

In [3]:
for code in data.keys():
    df = None
    dic1 = {'date':[],
       'price':[]}
    for page in range(17, 23):
        req = rq.get(f'https://finance.naver.com/item/sise_day.naver?code={code}&page={page}', headers={'User-Agent':'Mozilla/5.0'})
        html = BeautifulSoup(req.text, 'html.parser')
        lines = html.find_all('tr', {'onmouseover':'mouseOver(this)'})
        for line in lines:
            date = line.find_all('td', {'align': 'center'})[0]
            price = line.find_all('td', {'class': 'num'})[0]
            date_ = date.text.strip()
            if date_ == "":
                break
#             print(date_)
            price_ = price.text.strip()
            dic1['date'].append(date_)
            dic1['price'].append(price_)
    
    df = pd.DataFrame(dic1)
#     print(df['date'])
    df.loc[:,'date'] = pd.to_datetime(df.loc[:,'date'], errors = 'coerce')
    df.loc[:,'price'] = df.loc[:,'price'].str.replace(",","")
#     print(df['price'])
    df.loc[:,'price'] = pd.to_numeric(df.loc[:,'price'])
    df1 = df[(df.loc[:,'date'] >= '2022-01-01') & (df.loc[:,'date'] <= '2022-03-31')]
    df2 = df1.sort_values(by='date')
    globals()['df_{}'.format(code)] = df2.reset_index(drop = True)

In [4]:
for code in codes:
    print([code])
    print(globals()['df_{}'.format(code)].head())

['005930']
        date  price
0 2022-01-03  78600
1 2022-01-04  78700
2 2022-01-05  77400
3 2022-01-06  76900
4 2022-01-07  78300
['373220']
        date   price
0 2022-01-27  505000
1 2022-01-27  505000
2 2022-01-28  450000
3 2022-02-03  477000
4 2022-02-04  504000
['207940']
        date   price
0 2022-01-03  911000
1 2022-01-04  888000
2 2022-01-05  861000
3 2022-01-06  838000
4 2022-01-07  844000
['000660']
        date   price
0 2022-01-03  128500
1 2022-01-04  128500
2 2022-01-05  125500
3 2022-01-06  125000
4 2022-01-07  127000
['051910']
        date   price
0 2022-01-03  618000
1 2022-01-04  644000
2 2022-01-05  664000
3 2022-01-06  690000
4 2022-01-07  719000
['006400']
        date   price
0 2022-01-03  650000
1 2022-01-04  649000
2 2022-01-05  648000
3 2022-01-06  642000
4 2022-01-07  636000
['005380']
        date   price
0 2022-01-03  210500
1 2022-01-04  210000
2 2022-01-05  213500
3 2022-01-06  214000
4 2022-01-07  215000
['035420']
        date   price
0 2022-01-03  376000
1 2022-01-04  365500
2 2022-01-05  355000
3 2022-01-06  338500
4 2022-01-07  338000
['000270']
        date  price
0 2022-01-03  82600
1 2022-01-04  83500
2 2022-01-05  85900
3 2022-01-06  85600
4 2022-01-07  86700
['068270']
        date   price
0 2022-01-03  198500
1 2022-01-04  194500
2 2022-01-05  187500
3 2022-01-06  181000
4 2022-01-07  182500
['005490']
        date   price
0 2022-01-03  280000
1 2022-01-04  286500
2 2022-01-05  295500
3 2022-01-06  304500
4 2022-01-07  305000
['035720']
        date   price
0 2022-01-03  114500
1 2022-01-04  111500
2 2022-01-05  105500
3 2022-01-06  100000
4 2022-01-07  100000
['028260']
        date   price
0 2022-01-03  117500
1 2022-01-04  117500
2 2022-01-05  117500
3 2022-01-06  115000
4 2022-01-07  116500
['105560']
        date  price
0 2022-01-03  55300
1 2022-01-04  56400
2 2022-01-05  56600
3 2022-01-06  55800
4 2022-01-07  55700
['012330']
        date   price
0 2022-01-03  256500
1 2022-01-04  255500
2 2022-01-05  257000
3 2022-01-06  269500
4 2022-01-07  269500
['055550']
        date  price
0 2022-01-03  37250
1 2022-01-04  37600
2 2022-01-05  37500
3 2022-01-06  37300
4 2022-01-07  37650
['003670']
        date   price
0 2022-01-03  143500
1 2022-01-04  142000
2 2022-01-05  138000
3 2022-01-06  134000
4 2022-01-07  133500
['096770']
        date   price
0 2022-01-03  248000
1 2022-01-04  253500
2 2022-01-05  251000
3 2022-01-06  247500
4 2022-01-07  247000
['034730']
        date   price
0 2022-01-03  255500
1 2022-01-04  256000
2 2022-01-05  251500
3 2022-01-06  244000
4 2022-01-07  245500
['066570']
        date   price
0 2022-01-03  139500
1 2022-01-04  142000
2 2022-01-05  138500
3 2022-01-06  135000
4 2022-01-07  137500
['032830']
        date  price
0 2022-01-03  64500
1 2022-01-04  64800
2 2022-01-05  65700
3 2022-01-06  65400
4 2022-01-07  65800
['003550']
        date  price
0 2022-01-03  81000
1 2022-01-04  82400
2 2022-01-05  81400
3 2022-01-06  80800
4 2022-01-07  81600
['033780']
        date  price
0 2022-01-03  79000
1 2022-01-04  78400
2 2022-01-05  78500
3 2022-01-06  78700
4 2022-01-07  78400
['010130']
        date   price
0 2022-01-03  510000
1 2022-01-04  511000
2 2022-01-05  503000
3 2022-01-06  509000
4 2022-01-07  514000
['086790']
        date  price
0 2022-01-03  42350
1 2022-01-04  42700
2 2022-01-05  43000
3 2022-01-06  43200
4 2022-01-07  43450
['015760']
        date  price
0 2022-01-03  22350
1 2022-01-04  22000
2 2022-01-05  21800
3 2022-01-06  21450
4 2022-01-07  21650
['323410']
        date  price
0 2022-01-03  59100
1 2022-01-04  57300
2 2022-01-05  55600
3 2022-01-06  56000
4 2022-01-07  55000
['259960']
        date   price
0 2022-01-03  460000
1 2022-01-04  444000
2 2022-01-05  417000
3 2022-01-06  402000
4 2022-01-07  394500
['017670']
        date  price
0 2022-01-03  57200
1 2022-01-04  57200
2 2022-01-05  58300
3 2022-01-06  57900
4 2022-01-07  56400
['034020']
        date  price
0 2022-01-03  20950
1 2022-01-04  20650
2 2022-01-05  20750
3 2022-01-06  20050
4 2022-01-07  20250
['329180']
        date   price
0 2022-01-03   97600
1 2022-01-04  101500
2 2022-01-05  104000
3 2022-01-06  111000
4 2022-01-07  112000
['011200']
        date  price
0 2022-01-03  27300
1 2022-01-04  27300
2 2022-01-05  27450
3 2022-01-06  26300
4 2022-01-07  26400
['009150']
        date   price
0 2022-01-03  194500
1 2022-01-04  192000
2 2022-01-05  190000
3 2022-01-06  181500
4 2022-01-07  187500
['009830']
        date  price
0 2022-01-03  35550
1 2022-01-04  35650
2 2022-01-05  35000
3 2022-01-06  34250
4 2022-01-07  36600
['036570']
        date   price
0 2022-01-03  667000
1 2022-01-04  657000
2 2022-01-05  625000
3 2022-01-06  601000
4 2022-01-07  606000
['018260']
        date   price
0 2022-01-03  156500
1 2022-01-04  156500
2 2022-01-05  153000
3 2022-01-06  149000
4 2022-01-07  153000
['010950']
        date  price
0 2022-01-03  85900
1 2022-01-04  90200
2 2022-01-05  90200
3 2022-01-06  92400
4 2022-01-07  97300
['051900']
        date    price
0 2022-01-03  1104000
1 2022-01-04  1102000
2 2022-01-05  1075000
3 2022-01-06  1087000
4 2022-01-07  1104000
['030200']
        date  price
0 2022-01-03  30350
1 2022-01-04  30100
2 2022-01-05  30800
3 2022-01-06  30250
4 2022-01-07  30250
['000810']
        date   price
0 2022-01-03  204500
1 2022-01-04  207000
2 2022-01-05  210500
3 2022-01-06  212000
4 2022-01-07  214500
['316140']
        date  price
0 2022-01-03  12800
1 2022-01-04  13000
2 2022-01-05  13050
3 2022-01-06  12850
4 2022-01-07  13100
['003490']
        date  price
0 2022-01-03  29500
1 2022-01-04  29100
2 2022-01-05  28900
3 2022-01-06  28450
4 2022-01-07  28600
['024110']
        date  price
0 2022-01-03  10350
1 2022-01-04  10400
2 2022-01-05  10450
3 2022-01-06  10350
4 2022-01-07  10350
['377300']
        date   price
0 2022-01-03  176500
1 2022-01-04  169000
2 2022-01-05  158000
3 2022-01-06  152000
4 2022-01-07  153500
['011070']
        date   price
0 2022-01-03  370500
1 2022-01-04  349000
2 2022-01-05  347000
3 2022-01-06  329500
4 2022-01-07  337000
['090430']
        date   price
0 2022-01-03  168000
1 2022-01-04  166500
2 2022-01-05  162000
3 2022-01-06  163500
4 2022-01-07  160500
['302440']
        date   price
0 2022-01-03  229500
1 2022-01-04  223500
2 2022-01-05  216500
3 2022-01-06  200000
4 2022-01-07  213000
['086280']
        date   price
0 2022-01-03  172500
1 2022-01-04  173000
2 2022-01-05  173000
3 2022-01-06  184000
4 2022-01-07  184000
['097950']
        date   price
0 2022-01-03  379500
1 2022-01-04  379500
2 2022-01-05  378000
3 2022-01-06  374500
4 2022-01-07  380500
['011170']
        date   price
0 2022-01-03  217000
1 2022-01-04  220000
2 2022-01-05  219500
3 2022-01-06  217000
4 2022-01-07  232000
['383220']
        date   price
0 2022-01-03  945000
1 2022-01-04  919000
2 2022-01-05  909000
3 2022-01-06  873000
4 2022-01-07  908000
['326030']
        date  price
0 2022-01-03  98400
1 2022-01-04  97400
2 2022-01-05  95400
3 2022-01-06  92800
4 2022-01-07  94500
['009540']
        date   price
0 2022-01-03   94000
1 2022-01-04   98700
2 2022-01-05   98400
3 2022-01-06  102000
4 2022-01-07  100500
['352820']
        date   price
0 2022-01-03  350500
1 2022-01-04  337500
2 2022-01-05  314000
3 2022-01-06  298500
4 2022-01-07  302500
['000060']
        date  price
0 2022-01-03  34500
1 2022-01-04  37150
2 2022-01-05  38350
3 2022-01-06  37200
4 2022-01-07  40000
['032640']
        date  price
0 2022-01-03  13650
1 2022-01-04  13500
2 2022-01-05  13600
3 2022-01-06  13350
4 2022-01-07  13550
['034220']
        date  price
0 2022-01-03  24700
1 2022-01-04  25800
2 2022-01-05  24300
3 2022-01-06  24000
4 2022-01-07  24150
['402340']
        date  price
0 2022-01-03  66500
1 2022-01-04  70000
2 2022-01-05  67600
3 2022-01-06  61700
4 2022-01-07  61000
['035250']
        date  price
0 2022-01-03  24200
1 2022-01-04  23950
2 2022-01-05  24000
3 2022-01-06  24100
4 2022-01-07  24550
['028050']
        date  price
0 2022-01-03  22900
1 2022-01-04  23200
2 2022-01-05  23150
3 2022-01-06  24400
4 2022-01-07  24600
['267250']
        date  price
0 2022-01-03  53600
1 2022-01-04  54900
2 2022-01-05  55500
3 2022-01-06  54800
4 2022-01-07  55500
['047810']
        date  price
0 2022-01-03  32900
1 2022-01-04  33000
2 2022-01-05  32550
3 2022-01-06  31950
4 2022-01-07  33800
['010140']
        date  price
0 2022-01-03   5680
1 2022-01-04   5740
2 2022-01-05   5780
3 2022-01-06   5880
4 2022-01-07   5880
['018880']
        date  price
0 2022-01-03  13450
1 2022-01-04  13650
2 2022-01-05  13500
3 2022-01-06  13400
4 2022-01-07  13250
['000720']
        date  price
0 2022-01-03  46150
1 2022-01-04  46550
2 2022-01-05  46700
3 2022-01-06  46900
4 2022-01-07  46850
['138040']
        date  price
0 2022-01-03  45500
1 2022-01-04  48000
2 2022-01-05  47000
3 2022-01-06  46800
4 2022-01-07  49300
['004020']
        date  price
0 2022-01-03  41550
1 2022-01-04  42950
2 2022-01-05  44400
3 2022-01-06  45350
4 2022-01-07  44900
['078930']
        date  price
0 2022-01-03  39400
1 2022-01-04  39550
2 2022-01-05  39550
3 2022-01-06  40050
4 2022-01-07  39700
['271560']
        date   price
0 2022-01-03  104000
1 2022-01-04  102500
2 2022-01-05  102500
3 2022-01-06  102000
4 2022-01-07  106000
['000100']
        date  price
0 2022-01-03  63400
1 2022-01-04  62200
2 2022-01-05  61100
3 2022-01-06  60100
4 2022-01-07  60800
['011780']
        date   price
0 2022-01-03  167000
1 2022-01-04  166500
2 2022-01-05  166500
3 2022-01-06  162000
4 2022-01-07  172000
['251270']
        date   price
0 2022-01-03  127500
1 2022-01-04  123000
2 2022-01-05  118000
3 2022-01-06  112500
4 2022-01-07  113000
['361610']
        date   price
0 2022-01-03  164500
1 2022-01-04  158500
2 2022-01-05  152500
3 2022-01-06  150500
4 2022-01-07  153500
['161390']
        date  price
0 2022-01-03  40950
1 2022-01-04  40200
2 2022-01-05  39900
3 2022-01-06  40050
4 2022-01-07  40200
['021240']
        date  price
0 2022-01-03  73400
1 2022-01-04  73100
2 2022-01-05  72500
3 2022-01-06  72400
4 2022-01-07  73400
['005830']
        date  price
0 2022-01-03  54000
1 2022-01-04  57000
2 2022-01-05  59300
3 2022-01-06  60300
4 2022-01-07  60600
['006800']
        date  price
0 2022-01-03   8550
1 2022-01-04   8560
2 2022-01-05   8490
3 2022-01-06   8390
4 2022-01-07   8470
['241560']
        date  price
0 2022-01-03  40600
1 2022-01-04  41650
2 2022-01-05  42700
3 2022-01-06  43100
4 2022-01-07  42750
['011790']
        date   price
0 2022-01-03  169500
1 2022-01-04  170000
2 2022-01-05  163500
3 2022-01-06  160000
4 2022-01-07  162000
['008560']
        date  price
0 2022-01-03   5180
1 2022-01-04   5290
2 2022-01-05   5290
3 2022-01-06   5360
4 2022-01-07   5380
['012450']
        date  price
0 2022-01-03  49600
1 2022-01-04  50400
2 2022-01-05  50900
3 2022-01-06  49400
4 2022-01-07  50100
['029780']
        date  price
0 2022-01-03  31300
1 2022-01-04  31200
2 2022-01-05  31800
3 2022-01-06  31450
4 2022-01-07  31550
['010620']
        date  price
0 2022-01-03  70000
1 2022-01-04  76100
2 2022-01-05  79800
3 2022-01-06  81800
4 2022-01-07  82400
['137310']
        date  price
0 2022-01-03  54400
1 2022-01-04  56300
2 2022-01-05  56900
3 2022-01-06  56600
4 2022-01-07  57000
['282330']
        date   price
0 2022-01-03  143500
1 2022-01-04  142000
2 2022-01-05  139500
3 2022-01-06  141500
4 2022-01-07  140000
['004990']
        date  price
0 2022-01-03  29850
1 2022-01-04  29800
2 2022-01-05  29650
3 2022-01-06  29400
4 2022-01-07  29300
['128940']
        date   price
0 2022-01-03  285000
1 2022-01-04  278000
2 2022-01-05  272500
3 2022-01-06  261500
4 2022-01-07  264000
['112610']
        date  price
0 2022-01-03  65200
1 2022-01-04  66000
2 2022-01-05  63700
3 2022-01-06  59800
4 2022-01-07  62600
['064350']
        date  price
0 2022-01-03  21250
1 2022-01-04  21300
2 2022-01-05  21350
3 2022-01-06  21150
4 2022-01-07  21400
['036460']
        date  price
0 2022-01-03  38350
1 2022-01-04  38250
2 2022-01-05  37950
3 2022-01-06  37500
4 2022-01-07  37500
['071050']
        date  price
0 2022-01-03  79800
1 2022-01-04  79700
2 2022-01-05  78900
3 2022-01-06  76800
4 2022-01-07  78800
['005940']
        date  price
0 2022-01-03  12200
1 2022-01-04  12200
2 2022-01-05  12150
3 2022-01-06  11750
4 2022-01-07  11950
['003410']
        date  price
0 2022-01-03   7690
1 2022-01-04   7900
2 2022-01-05   8250
3 2022-01-06   8110
4 2022-01-07   8100
['007070']
        date  price
0 2022-01-03  30200
1 2022-01-04  30050
2 2022-01-05  29750
3 2022-01-06  29650
4 2022-01-07  29850
['016360']
        date  price
0 2022-01-03  44200
1 2022-01-04  44450
2 2022-01-05  44200
3 2022-01-06  42500
4 2022-01-07  43000
['030000']
        date  price
0 2022-01-03  22450
1 2022-01-04  22200
2 2022-01-05  22700
3 2022-01-06  22450
4 2022-01-07  22450
['008770']
        date  price
0 2022-01-03  78200
1 2022-01-04  77700
2 2022-01-05  76900
3 2022-01-06  76900
4 2022-01-07  77300
['047050']
        date  price
0 2022-01-03  22500
1 2022-01-04  23350
2 2022-01-05  23200
3 2022-01-06  23050
4 2022-01-07  22850
['028670']
        date  price
0 2022-01-03   5570
1 2022-01-04   5580
2 2022-01-05   5610
3 2022-01-06   5670
4 2022-01-07   5640
['020150']
        date   price
0 2022-01-03  131500
1 2022-01-04  128500
2 2022-01-05  123500
3 2022-01-06  118000
4 2022-01-07  117500
['180640']
        date  price
0 2022-01-03  62200
1 2022-01-04  60400
2 2022-01-05  58500
3 2022-01-06  57900
4 2022-01-07  58400
['001450']
        date  price
0 2022-01-03  23450
1 2022-01-04  24050
2 2022-01-05  24950
3 2022-01-06  25300
4 2022-01-07  25450
['139480']
        date   price
0 2022-01-03  150500
1 2022-01-04  150500
2 2022-01-05  149500
3 2022-01-06  146500
4 2022-01-07  148500
['006040']
        date   price
0 2022-01-03  226000
1 2022-01-04  224500
2 2022-01-05  222000
3 2022-01-06  225500
4 2022-01-07  226500
['052690']
        date  price
0 2022-01-03  88200
1 2022-01-04  84400
2 2022-01-05  78600
3 2022-01-06  75300
4 2022-01-07  77300
['010060']
        date   price
0 2022-01-03  103500
1 2022-01-04  106500
2 2022-01-05  104500
3 2022-01-06  105000
4 2022-01-07  108000
['012750']
        date  price
0 2022-01-03  73800
1 2022-01-04  72600
2 2022-01-05  72300
3 2022-01-06  73000
4 2022-01-07  72600
['023530']
        date  price
0 2022-01-03  86400
1 2022-01-04  88400
2 2022-01-05  87400
3 2022-01-06  87600
4 2022-01-07  87700
['002790']
        date  price
0 2022-01-03  45000
1 2022-01-04  44850
2 2022-01-05  43800
3 2022-01-06  43200
4 2022-01-07  43500
['336260']
        date  price
0 2022-01-03  48000
1 2022-01-04  47650
2 2022-01-05  47600
3 2022-01-06  44050
4 2022-01-07  44700
['006260']
        date  price
0 2022-01-03  54500
1 2022-01-04  55000
2 2022-01-05  54000
3 2022-01-06  54000
4 2022-01-07  54500
['039490']
        date   price
0 2022-01-03  107000
1 2022-01-04  107000
2 2022-01-05  106000
3 2022-01-06  102500
4 2022-01-07  102000
['138930']
        date  price
0 2022-01-03   8390
1 2022-01-04   8470
2 2022-01-05   8550
3 2022-01-06   8480
4 2022-01-07   8560
['014680']
        date   price
0 2022-01-03  297500
1 2022-01-04  293000
2 2022-01-05  288000
3 2022-01-06  277000
4 2022-01-07  281000
['001040']
        date  price
0 2022-01-03  84000
1 2022-01-04  84000
2 2022-01-05  82900
3 2022-01-06  81300
4 2022-01-07  81900
['008930']
        date  price
0 2022-01-03  55500
1 2022-01-04  54400
2 2022-01-05  52700
3 2022-01-06  50900
4 2022-01-07  50900
['204320']
        date  price
0 2022-01-03  62900
1 2022-01-04  64900
2 2022-01-05  65900
3 2022-01-06  65500
4 2022-01-07  66100
['272210']
        date  price
0 2022-01-03  16850
1 2022-01-04  17050
2 2022-01-05  16850
3 2022-01-06  16350
4 2022-01-07  16850
['002380']
        date   price
0 2022-01-03  309000
1 2022-01-04  387500
2 2022-01-05  389000
3 2022-01-06  387500
4 2022-01-07  379000
['111770']
        date  price
0 2022-01-03  44150
1 2022-01-04  44600
2 2022-01-05  46050
3 2022-01-06  47750
4 2022-01-07  47300
['026960']
        date  price
0 2022-01-03  30550
1 2022-01-04  30150
2 2022-01-05  29900
3 2022-01-06  29850
4 2022-01-07  30150
['001440']
        date  price
0 2022-01-03   1800
1 2022-01-04   1795
2 2022-01-05   1760
3 2022-01-06   1740
4 2022-01-07   1750
['000880']
        date  price
0 2022-01-03  31450
1 2022-01-04  31300
2 2022-01-05  31000
3 2022-01-06  30550
4 2022-01-07  31150
['042660']
        date  price
0 2022-01-03  22950
1 2022-01-04  23550
2 2022-01-05  23600
3 2022-01-06  24900
4 2022-01-07  25200
['079550']
        date  price
0 2022-01-03  69100
1 2022-01-04  70900
2 2022-01-05  67600
3 2022-01-06  65400
4 2022-01-07  66200
['004170']
        date   price
0 2022-01-03  253000
1 2022-01-04  254500
2 2022-01-05  253500
3 2022-01-06  249000
4 2022-01-07  250000
['081660']
        date  price
0 2022-01-03  35850
1 2022-01-04  35300
2 2022-01-05  35250
3 2022-01-06  33850
4 2022-01-07  34100
['000990']
        date  price
0 2022-01-03  76900
1 2022-01-04  76800
2 2022-01-05  74400
3 2022-01-06  72300
4 2022-01-07  77900
['000120']
        date   price
0 2022-01-03  129000
1 2022-01-04  129000
2 2022-01-05  126500
3 2022-01-06  125500
4 2022-01-07  127500
['047040']
        date  price
0 2022-01-03   5870
1 2022-01-04   5980
2 2022-01-05   5980
3 2022-01-06   6260
4 2022-01-07   6170
['088350']
        date  price
0 2022-01-03   2920
1 2022-01-04   3050
2 2022-01-05   3150
3 2022-01-06   3125
4 2022-01-07   3155
['006360']
        date  price
0 2022-01-03  40050
1 2022-01-04  41500
2 2022-01-05  42700
3 2022-01-06  43750
4 2022-01-07  44350
['004370']
        date   price
0 2022-01-03  316000
1 2022-01-04  311500
2 2022-01-05  309500
3 2022-01-06  317500
4 2022-01-07  322000
['007310']
        date   price
0 2022-01-03  451500
1 2022-01-04  453000
2 2022-01-05  448000
3 2022-01-06  440000
4 2022-01-07  448500
['000080']
        date  price
0 2022-01-03  30250
1 2022-01-04  30300
2 2022-01-05  29900
3 2022-01-06  30450
4 2022-01-07  30750
['010120']
        date  price
0 2022-01-03  55600
1 2022-01-04  55700
2 2022-01-05  55100
3 2022-01-06  54900
4 2022-01-07  54900
['069620']
        date   price
0 2022-01-03  151500
1 2022-01-04  147500
2 2022-01-05  144500
3 2022-01-06  141000
4 2022-01-07  143000
['298050']
        date   price
0 2022-01-03  574000
1 2022-01-04  578000
2 2022-01-05  572000
3 2022-01-06  550000
4 2022-01-07  567000
['285130']
        date   price
0 2022-01-03  148500
1 2022-01-04  146500
2 2022-01-05  144500
3 2022-01-06  139500
4 2022-01-07  145500
['000150']
        date   price
0 2022-01-03  123000
1 2022-01-04  121000
2 2022-01-05  123000
3 2022-01-06  113500
4 2022-01-07  113500
['011210']
        date  price
0 2022-01-03  80500
1 2022-01-04  80700
2 2022-01-05  81600
3 2022-01-06  80900
4 2022-01-07  82000
['004000']
        date  price
0 2022-01-03  73000
1 2022-01-04  74800
2 2022-01-05  74500
3 2022-01-06  72600
4 2022-01-07  75500
['042670']
        date  price
0 2022-01-03   6990
1 2022-01-04   7160
2 2022-01-05   7280
3 2022-01-06   6980
4 2022-01-07   7010
['004800']
        date  price
0 2022-01-03  93000
1 2022-01-04  92600
2 2022-01-05  93500
3 2022-01-06  91200
4 2022-01-07  92300
['001120']
        date  price
0 2022-01-03  26400
1 2022-01-04  27000
2 2022-01-05  26350
3 2022-01-06  26000
4 2022-01-07  26100
['375500']
        date   price
0 2022-01-03  122500
1 2022-01-04  125500
2 2022-01-05  126000
3 2022-01-06  130500
4 2022-01-07  132000
['051600']
        date  price
0 2022-01-03  38500
1 2022-01-04  37600
2 2022-01-05  36800
3 2022-01-06  36050
4 2022-01-07  36100
['006280']
        date   price
0 2022-01-03  224000
1 2022-01-04  220000
2 2022-01-05  210500
3 2022-01-06  201000
4 2022-01-07  206500
['298020']
        date   price
0 2022-01-03  524000
1 2022-01-04  530000
2 2022-01-05  551000
3 2022-01-06  534000
4 2022-01-07  599000
['000670']
        date   price
0 2022-01-03  653000
1 2022-01-04  666000
2 2022-01-05  656000
3 2022-01-06  662000

4 2022-01-07  74300
['005850']
        date  price
0 2022-01-03  31600
1 2022-01-04  31700
2 2022-01-05  32250
3 2022-01-06  31100
4 2022-01-07  31800
['001230']
        date  price
0 2022-01-03  16100
1 2022-01-04  17150
2 2022-01-05  17400
3 2022-01-06  18100
4 2022-01-07  18250
['005300']
        date   price
0 2022-01-03  131000
1 2022-01-04  132500
2 2022-01-05  131000
3 2022-01-06  131000
4 2022-01-07  136000
['019170']
        date  price
0 2022-01-03  32150
1 2022-01-04  31000
2 2022-01-05  29700
3 2022-01-06  28700
4 2022-01-07  29550
['120110']
        date  price
0 2022-01-03  71500
1 2022-01-04  71800
2 2022-01-05  70800
3 2022-01-06  69600
4 2022-01-07  71600
['000240']
        date  price
0 2022-01-03  15550
1 2022-01-04  15700
2 2022-01-05  15550
3 2022-01-06  15200
4 2022-01-07  15250
['093370']
        date  price
0 2022-01-03  22750
1 2022-01-04  23400
2 2022-01-05  22100
3 2022-01-06  22000
4 2022-01-07  22150
['271940']
        date  price
0 2022-01-03  54800
1 2022-01-04  54600
2 2022-01-05  53700
3 2022-01-06  52200
4 2022-01-07  53000
['017800']
        date  price
0 2022-01-03  41150
1 2022-01-04  40850
2 2022-01-05  41050
3 2022-01-06  40750
4 2022-01-07  40850
['003090']
        date  price
0 2022-01-03  31050
1 2022-01-04  30900
2 2022-01-05  30100
3 2022-01-06  29350
4 2022-01-07  29950
['185750']
        date   price
0 2022-01-03  109500
1 2022-01-04  109000
2 2022-01-05  106500
3 2022-01-06  103500
4 2022-01-07  104000
['009240']
        date  price
0 2022-01-03  93300
1 2022-01-04  91600
2 2022-01-05  90300
3 2022-01-06  87000
4 2022-01-07  89000
['001740']
        date  price
0 2022-01-03   4960
1 2022-01-04   4940
2 2022-01-05   4865
3 2022-01-06   4875
4 2022-01-07   4865
['114090']
        date  price
0 2022-01-03  13200
1 2022-01-04  13250
2 2022-01-05  13050
3 2022-01-06  13000
4 2022-01-07  13250
['010780']
        date  price
0 2022-01-03  45350
1 2022-01-04  45750
2 2022-01-05  44450
3 2022-01-06  44600
4 2022-01-07  44750
['006650']
        date   price
0 2022-01-03  180500
1 2022-01-04  184500
2 2022-01-05  187000
3 2022-01-06  181500
4 2022-01-07  194000
['001800']
        date  price
0 2022-01-03  15750
1 2022-01-04  15750
2 2022-01-05  15650
3 2022-01-06  15450
4 2022-01-07  15400
['178920']
        date  price
0 2022-01-03  54800
1 2022-01-04  54200
2 2022-01-05  52800
3 2022-01-06  51600
4 2022-01-07  52200
['016380']
        date  price
0 2022-01-03  10750
1 2022-01-04  11500
2 2022-01-05  11750
3 2022-01-06  11800
4 2022-01-07  11600
['069260']
        date  price
0 2022-01-03  22800
1 2022-01-04  23100
2 2022-01-05  23000
3 2022-01-06  22600
4 2022-01-07  23200
['009900']
        date  price
0 2022-01-03  29800
1 2022-01-04  29850
2 2022-01-05  29700
3 2022-01-06  28600
4 2022-01-07  28900
['031430']
        date   price
0 2022-01-03  145500
1 2022-01-04  145500
2 2022-01-05  142000
3 2022-01-06  140000
4 2022-01-07  140500
['192080']
        date  price
0 2022-01-03  59200
1 2022-01-04  58700
2 2022-01-05  57100
3 2022-01-06  55100
4 2022-01-07  55600
['161890']
        date  price
0 2022-01-03  40200
1 2022-01-04  40000
2 2022-01-05  39050
3 2022-01-06  38850
4 2022-01-07  39300
['073240']
        date  price
0 2022-01-03   4505
1 2022-01-04   4510
2 2022-01-05   4510
3 2022-01-06   4495
4 2022-01-07   4490
['020560']
        date  price
0 2022-01-03  20050
1 2022-01-04  19750
2 2022-01-05  19500
3 2022-01-06  19150
4 2022-01-07  19200
['103140']
        date  price
0 2022-01-03  31700
1 2022-01-04  32500
2 2022-01-05  32250
3 2022-01-06  32550
4 2022-01-07  32450
['300720']
        date  price
0 2022-01-03  21000
1 2022-01-04  22150
2 2022-01-05  26000
3 2022-01-06  25700
4 2022-01-07  21950
['003240']
        date    price
0 2022-01-03  1029000
1 2022-01-04  1097000
2 2022-01-05  1123000
3 2022-01-06  1120000
4 2022-01-07  1141000
['005250']
        date  price
0 2022-01-03  27500
1 2022-01-04  27150
2 2022-01-05  26550
3 2022-01-06  25850
4 2022-01-07  25750
['039130']
        date  price
0 2022-01-03  75000
1 2022-01-04  74200
2 2022-01-05  73500
3 2022-01-06  73900
4 2022-01-07  74800
['009420']
        date  price
0 2022-01-03  21550
1 2022-01-04  21200
2 2022-01-05  20500
3 2022-01-06  19750
4 2022-01-07  20100
['032350']
        date  price
0 2022-01-03  17750
1 2022-01-04  17500
2 2022-01-05  17300
3 2022-01-06  17500
4 2022-01-07  17750
['001680']
        date  price
0 2022-01-03  23050
1 2022-01-04  22800
2 2022-01-05  22800
3 2022-01-06  22800
4 2022-01-07  23150
['003850']
        date  price
0 2022-01-03  14700
1 2022-01-04  14700
2 2022-01-05  14400
3 2022-01-06  14050
4 2022-01-07  14150
['294870']
        date  price
0 2022-01-03  23700
1 2022-01-04  24650
2 2022-01-05  24550
3 2022-01-06  24850
4 2022-01-07  25000
['284740']
        date  price
0 2022-01-03  38600
1 2022-01-04  38900
2 2022-01-05  39450
3 2022-01-06  39100
4 2022-01-07  39450
['005440']
        date  price
0 2022-01-03   8520
1 2022-01-04   8470
2 2022-01-05   8440
3 2022-01-06   8400
4 2022-01-07   8420
['192820']
        date  price
0 2022-01-03  87300
1 2022-01-04  87600
2 2022-01-05  84900
3 2022-01-06  84900
4 2022-01-07  86700
['020000']
        date  price
0 2022-01-03  35950
1 2022-01-04  36300
2 2022-01-05  36100
3 2022-01-06  36400
4 2022-01-07  36200
['105630']
        date  price
0 2022-01-03  21900
1 2022-01-04  22050
2 2022-01-05  22150
3 2022-01-06  23350
4 2022-01-07  23250
['381970']
        date  price
0 2022-01-03  32350
1 2022-01-04  32500
2 2022-01-05  30700
3 2022-01-06  29650
4 2022-01-07  28950
['004490']
        date  price
0 2022-01-03  76000
1 2022-01-04  75100
2 2022-01-05  73000
3 2022-01-06  71300
4 2022-01-07  71400
['057050']
        date  price
0 2022-01-03  62900
1 2022-01-04  62700
2 2022-01-05  62600
3 2022-01-06  63500
4 2022-01-07  63500
['241590']
        date  price
0 2022-01-03  16800
1 2022-01-04  17250
2 2022-01-05  16550
3 2022-01-06  16500
4 2022-01-07  16550
['000070']
        date  price
0 2022-01-03  97300
1 2022-01-04  98500
2 2022-01-05  97800
3 2022-01-06  94900
4 2022-01-07  95800
['013890']
        date  price
0 2022-01-03  77800
1 2022-01-04  76300
2 2022-01-05  75300
3 2022-01-06  72400
4 2022-01-07  74300

<h3> 3. 그들을 DataFrame화 하여 각각에 대해 기술적 분석, MA, MACD, RSI를 구하라 </h3>

<h3> 4. 이들을 csv로 만들어서 코드와 csv 200개를 알집으로 제출해라</h3>